.content02 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 28%;
}

.content02 h3 {
  font-size: 1.35em;
  color: var(--red-100);
}

.content02 p {
  font-size: 17.3px;
  color: #717171;
  width: 60%;
  line-height: 2em;
}
